body {
	background-color: #B0E0E6;
}

h1 {
	font-size: 52px;
	font-weight: bold;
	color: black;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	color: black;
	text-align: left;
}

#paragraph2 {
	background-color: white;
	width: calc(100% * 3 / 5);
	margin: 1em 0 1em 1em;
	padding: 1em;
	border: 4px solid green;
	line-height: 1.8;
}

.blue {
	background-color: #191970;
	color: white;
	padding: 0.5em 1em;
	margin: 0.5em 0;
}

article ol a {
	color: #0066cc;
}

a[href*="w3schools"] {
	color: #228B22;
}


ol {
	list-style-type: decimal-leading-zero;
	margin: 0;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #808080;
	color: black;
	border: 1px solid black;
}

td {
	background-color: #f0f0f0;
	color: black;
	border: 1px solid black;
	padding: 0.5em;
}
